{% load static %}

{% block content %}
    <!-- News cards -->
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        {% for i in articles %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ i.urlToImage }}" alt="" width="auto"/>

            <div class="card-body">
              <p class="card-title h5 mb-2">{{ i.author }}</p>
              <h5 class="card-title h5 mb-2">{{ i.title }}</h5>
              <p class="card-title h5 mb-2">{{ i.source.name }}</p>
              <p class="card-text text-truncate">{{ i.description }}</p>
              <div class="d-flex justify-cntent-between align-items-center"></div>
              <hr/>
              <small class="small text-muted">date: {{ i.publishedAt }}</small>
              <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">Read More...</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br/>
    {% endblock %}