{% load static %}

{% block content %}

    <!-- News cards -->
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        {% for article in articles %}
        <div class="col">
          <div class="card shadow-sm">
            {% if article.urlToImage %}
              <img src="{{ article.urlToImage }}" alt="{{ article.title }}" height="200px" width="auto"/>
            {% else %}
              <!-- Placeholder image -->
              <img src="{% static 'images/pna.webp' %}" alt="Placeholder image" height="200px" width="auto"/>
            {% endif %}
            <div class="card-body">
              <p class="card-title h5 mb-2">{{ article.author }}</p>
              <h5 class="card-title h5 mb-2">{{ article.title }}</h5>
              <p class="card-title h5 mb-2">{{ article.source.name }}</p>
              <p class="card-text text-truncate">{{ article.description }}</p>
              <div class="d-flex justify-cntent-between align-items-center"></div>
              <hr/>
              <small class="small text-muted">date: {{ article.publishedAt }}</small>
              <a href="{{ article.url }}" target="_blank" class="btn btn-success m-1">Read More...</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br/>
{% endblock %}
