@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /** Fonts */
    --title: 'Prata', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #918e8e;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --red: #b50000;
    --brown: #3d2c2c;


}



 body {
    background-color: var(--off-white);
}

/* Navbar */
nav {
    background-color: var(--red);
}

.navbar-nav .nav-link {
    color: var(--white);
}

.navbar-nav .nav-link.active {
  color: var(--white);
} 

/* Header & Title */
h1 {
    font-family: var(--title);
    color: var(--black);
    
}
.lead {
    font-family: var(--main-font);
    color: var(--red);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink-text {
    animation: blink 1s infinite;
}

/* Article */

    /* Button */
.custom-width-btn {
    width: 50%; 
}

.small {
    color: var(--red);
}

.h5 {
    color: var(--red);
}