@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /** Fonts */
    --title: 'Prata', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #6e6e6e0f;
}

/* header */

main {
    flex: 1 0 auto;
    background-color: var(--grey);
}

h1 h2 h3 h4 h5 {
    font-family: var(--title);
}

p {
    font-family: var(--main-font);
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* Footer */
footer {
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    
}
