{% load static %}

<!-- Footer -->
<footer class="bg-dark text-white pt-2 d-flex mt-auto">
    <!-- Grid container -->
    <div class="container">
      <div class="row">
        <!-- Section: Social media -->
        <div class="col-md-12 text-center">
          <h5>Follow Us</h5>
          <ul class="list-unstyled list-inline social-icons">
            <!-- Facebook -->
            <li class="list-inline-item">
              <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icon footer-buttons" href="#" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <!-- Instagram -->
            <li class="list-inline-item">
              <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icon footer-buttons" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <!-- Github -->
            <li class="list-inline-item">
              <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icon footer-buttons" href="#" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <!-- Linkedin -->
            <li class="list-inline-item">
              <a class="btn btn-link btn-floating btn-lg text-white m-1 footer-icon footer-buttons" href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- Copyright -->
          <div class="text-center text-white pb-1">
              <p>© 2024 Copyright: Code Institute - Educational purpose only!</p>
          </div>
        </div>
      </div>
    </div>
  </footer>